/* Stylesheet for wire frame demo */
* {
    box-sizing: border-box;
}
header {
    border: 1px solid black;
    width: 1000px;
    margin: 0 auto;
}
/* body */
body {
	background-image: linear-gradient(white, lightblue, blue);
}
/* Company logo and welcome text block */
.logo {
	border: 2px solid black;
  font-family: "Times New Roman", Times, serif;
	overflow: hidden;
	position: relative;
	background-color: lightblue;
  height: 80px;
	padding:5px 20px;
}
.logo img{
	background-color: lightblue;
	position: absolute;
	right: 50px;
  padding: 2px 2px
}
/* Navigational button block */
nav {
	border: 1px solid black;
	height: 50px;
	background-color: lightblue;
  justify-content: space-around;
}
nav ul {
  margin: 16px;
  height: 40px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
nav a {
	text-decoration: none;
	background-color: white;
	padding: 5px 20px;
	outline-style: outset;
}

/* body */
body {
	background-image: linear-gradient(white, lightblue, blue);
}

.sidenav {
  border: 1px solid black;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: white;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
nav a:hover {
    background-color: pink;
}
/* bannercard */
.bannercard {
  width: 1000px;
  height: 10px;
}
section {
    border: 1px solid black;
    background-color: lightgrey;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.MainSec {

}
.card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: lightblue;
}
.card img {
    width: 100%;
}
.card2 {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  position: relative;
  right: 75px;
  down: 25px;
}
.card2 image{
  padding: 10px;
}
.card3 {
  margin: 10px;
  margin-left: 50px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  width: 250px;
}
.CForm {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 400px;
    background-color: lightblue;

}

input[name=Reason] {
  transition: width 0.4s ease-in-out;
}

input[name=Reason]:focus {
  width: 100%;
  height: 35px;
}

.ContactCard {
  display: flex;
  border: 1px solid black;
  width: 1000px;
}

.ContactCard h1 {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.ContactCard p {
  position: absolute;
  justify-content: space-between;
}
/* Bottom of the page box */
footer {
	border: 1px solid black;
	margin: 0 auto;
	background-color: lightblue;
	width: 1000px;
}
.footerIcons {
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items:  center;
	padding: 10px;
}
